body {
  background: $secondary-background;
}

.container {
  font-family: Volvo Novum, Arial, sans-serif;
  max-width: $media-l;
  display: block;
  margin: 0 auto;
}

.rotate-180 {
  transform: rotate(180deg);
}