/* colours */
$primary-background:              #fff;
$inverted:                        #fff;
$secondary-background:            #fafafa;
$primary-brand:                   #284e80;
$secondary-foreground:            #707070;
$primary-foreground:              #141414;
$alert:                           #bf2012;
$action:                          #1c6bba;
$ornament-border:                 #d5d5d5;
$ornament-divider:                #ebebeb;
$ornament-highlight:              #1c6bba;

/* break points */
$media-xs:                        320px;
$media-m:                         480px;
$media-tp:                        750px;
$media-t:                         880px;
$media-l:                         1024px;
$media-xl:                        1600px;